#hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
		url(../assets/images/vegetable-chop.jpg);
}

.collage figure {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.collage figcaption {
	font-family: "Montserrat", sans-serif;
	font-style: italic;
	color: #000000;
}